body{
    background-color: #1B1B3C;
    margin: 0;
    padding: 0 10%;
}
#inicio{
 width: 100%;
 height: 85vh;
 margin: 0 auto;
 margin-top: 4%;
 display: flex;
}
.conteudo-inicio {
width: 60%;
height: 100%;
position: relative;
}
.conteudo-texto{
    margin-top: 25%;
}
.conteudo-inicio h2,h1,p{
    color: white;
}
.conteudo-inicio h2{
    font-size: 30px;
    line-height: 1px;
    color: #3F9AA6;
}
.conteudo-inicio h1{
    font-size: 120px;
    color: #d8d8d8;
    line-height: 10px;
}
.conteudo-inicio p{
    font-size: 18px;
    max-width: 200px;
    color: #9254CB;
    margin-top: -20px;
    margin-left: 70%;
}
.icon {
    width: 340px;
    height: 80px;
    position: absolute;
    right: -70px;
    top: 250px;
    display: flex;
    animation: fade-in 5s ease-in-out forwards;
    
}

.icone {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    transition: 1.5s;
}

.icone img {
    filter: invert(56%) sepia(28%) saturate(811%) hue-rotate(139deg) brightness(90%) contrast(86%);
}

.icone img:hover {
    filter: invert(42%) sepia(79%) saturate(592%) hue-rotate(230deg) brightness(83%) contrast(91%);
}

.conteudo-imagem img{
    margin-top: 10%;
}
