body{
  background: rgb(119,119,119);
  background: linear-gradient(0deg, rgba(119,119,119,1) 0%, rgba(254,250,250,1) 100%);
    margin: 0;
    padding: 0;
}

/*começo da nav bar */
nav {
  position: fixed;
  top: 0;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  transition: background-color 0.3s ease; /* Transição suave */
}

.navbar-scrolled {
  background-color: inherit; /* Herda a cor do body */
}

  
  .logo img {
    height: 50px;
    width: 50px;
  }
  
  
  .nav-links li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #857D72;
    padding: 10px;
    font-size: 24px;
    transition: 1.0s;
    border-radius: 10px;
  }
  
  .nav-links li a:hover {
    background-color: #44362C;
    color: #857D72;
  }

  /*fim  da nav bar */

  /*começo do inicio */
#inicio{
 width: 80%;
 height: 100vh;
 margin: 0 auto;
 margin-top: 5%;
 display: flex;
}

.conteudo-inicio {
width: 60%;
height: 100%;
position: relative;
}
.conteudo-texto{
    margin-top: 20%;
    position: absolute;
}
.conteudo-inicio h2,h1,p{
    color: white;
}
.conteudo-inicio h2{
    font-size: 30px;
    line-height: 1px;
    color: #BE9957;
}
.conteudo-inicio h1{
    font-size: 120px;
    color: #181818;
    line-height: 10px;
}
.conteudo-inicio p{
    font-size: 18px;
    max-width: 200px;
    color: #857D72;
    margin-top: -20px;
    margin-left: 70%;
}
.icon {
    width: 340px;
    height: 80px;
    position: absolute;
    right: -10%;
    top: 100px;
    display: flex;
    animation: fade-in 5s ease-in-out forwards;
    
}

.icone {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    transition: 1.5s;
}

.icone img {
  filter: invert(20%) sepia(1%) saturate(6795%) hue-rotate(337deg) brightness(112%) contrast(101%);
}

.icone img:hover {
  filter: invert(85%) sepia(26%) saturate(81%) hue-rotate(3deg) brightness(100%) contrast(86%);
}

.conteudo-imagem img{
    margin-top: 10%;
}

/*começo do sobre*/
#sobre{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caixa-sobre{
  width: 100%;
  height: 100%;
  background-color: #B8B6B6;
  display: flex;

}
.sobre-imagem{
  width: 50%;
  height: 100%;
 
}

.sobre-texto{
  width: 50%;
  height: 100%;

}


/*fim do inicio */

@media screen and (max-width: 769px){
.conteudo-texto{
  margin-top: 350px;
justify-content: space-evenly;
}
.conteudo-texto h2{
font-size: 20px;
}
.conteudo-texto h1{
  font-size: 90px;

}
.conteudo-texto p{
  margin-left: 0;
}
.conteudo-imagem{
  width: 250px;
  margin-top: 250px;
}
.icon{
  top: 190px;
  right: -10px;
}
#des{
  color: #857D72;
}
.icone img {
  filter: invert(78%) sepia(27%) saturate(718%) hue-rotate(354deg) brightness(77%) contrast(91%);
}
}
